body {
  width: 100%;
}
.hello {
  margin: auto;
  width: 400px;
  background-color: blueviolet;
  height: 500px;
  padding: 20px;
}
.namee {
  display: flex;
  justify-content: space-evenly;
}
.aboutme a {
  text-decoration: none;
  color: black;
}
